body {
  max-width: 45em;
  vertical-align: left;
  margin: auto;
  padding: 2em;
  background-color: whitesmoke;
}

.info-container {
  vertical-align: left;
  padding-top: 0;
}
.sub-page-main-photo {
  vertical-align: left;
  float: right;
  max-height: 9em;
  padding: 1.5em 0em 0.5em 1em;
}
.software {
  border-style: solid;
  border-width: thin;
}
div.item {
  vertical-align: middle;
  float: right;
  max-height: 15.175em;
  padding: 1.5em 0em 0.5em 1em;
}
img {
  background-color: blue;
}
.caption {
  display: block;

}
